/* Bordered form */
form {
    
}

@font-face {
    font-family: existence;
    src: url(Existence-Light.ttf);
}

label {
    font-size: 72px;
    font-family: existence;
}
/* Full-width inputs */
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: existence;
    
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    font-family: existence;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

